{{ header_content }}
{{ line_score_content }}
<table>
    {{ away_starter_player_records_content }}
    {{ away_bench_player_records_content }}
    {{ away_team_records_content }}
    {{ home_starter_player_records_content }}
    {{ home_bench_player_records_content }}
    {{ home_team_records_content }}
</table>