<table class="mat-table" role="grid">
    <tr class="mat-header-row" role="row">
        <td class="mat-header-cell" role="columnheader"></td>
        {% for line_score in line_scores_away %}
        <td class="segment-label mat-header-cell" role="columnheader">
            {{ line_score.segment_string }}
        </td>
        {% endfor %}  
        <td class="mat-header-cell" role="columnheader">
              
        </td>
    </tr>    
    <tr class="mat-row" role="row">
        <td class="mat-cell" role="gridcell">
            {{ away_team.name }}    
        </td>
        {% for line_score in line_scores_away %}
        <td class="mat-cell" role="gridcell">
            {{ line_score.score }}
        </td>
        {% endfor %}  
        <td class="mat-cell" role="gridcell">
            {{ away_score }}    
        </td>
    </tr>
    <tr class="mat-row" role="row">
        <td class="mat-cell" role="gridcell">
            {{ home_team.name }}    
        </td>
        {% for line_score in line_scores_home %}
        <td class="mat-cell" role="gridcell">
            {{ line_score.score }}
        </td>
        {% endfor %}  
        <td class="mat-cell" role="gridcell">
            {{ home_score }}    
        </td>
    </tr>
</table>
<table>
</table>