<h4>{{standings_label}}</h4>
<table class="mat-table" role="grid">
<thead>
<tr class="mat-header-row" role="row">
<th class="mat-header-cell mat-table-sticky" role="columnheader">Team</th>
<th class="mat-header-cell" role="columnheader">W-L</th>
<th class="mat-header-cell" role="columnheader">PCT</th>
{% if standings_type != 'league' %}
    <th class="mat-header-cell" role="columnheader">GB</th>
{% endif %}
<th class="mat-header-cell" role="columnheader">Last 10</th>
</thead>
<tbody>
{% for team in standings %}
<tr class="mat-row" role="row">
    <td role="gridcell" class="mat-cell mat-table-sticky">{{team.team.name}}</td>
    <td role="gridcell" class="mat-cell">{{team.short_record}}</td>
    <td role="gridcell" class="mat-cell">{{team.winning_percentage}}</td>
    {% if standings_type == 'conference' %}
        <td role="gridcell" class="mat-cell">{{ team.conference_games_back }}</td>
    {% elif standings_type == 'division' %}
        <td role="gridcell" class="mat-cell">{{ team.games_back }}</td>
    {% endif %}
    <td role="gridcell" class="mat-cell">{{team.last_ten_games_record}}</td>
</tr>
{% endfor %}
</tbody>
</table>

