<tr>
    <td></td>
    <td></td>
    <td>{{ team_records.points }} </td>
    <td>{{ team_records.field_goals_made }}-{{ team_records.field_goals_attempted }}</td>
    <td>{{ team_records.three_point_field_goals_made }}-{{ team_records.three_point_field_goals_attempted }}</td>
    <td>{{ team_records.free_throws_made }}-{{ team_records.free_throws_attempted }}</td>
    <td>{{ team_records.rebounds_offensive }} </td>
    <td>{{ team_records.rebounds_defensive }} </td>
    <td>{{ team_records.rebounds_total }} </td>
    <td>{{ team_records.assists }} </td>
    <td>{{ team_records.steals }} </td>
    <td>{{ team_records.blocked_shots }} </td>
    <td>{{ team_records.turnovers }} </td>
    <td>{{ team_records.personal_fouls }} </td>
    <td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
<td>{{ team_records.field_goals_percentage }}</td>
<td>{{ team_records.three_point_field_goals_percentage }}</td>
<td>{{ team_records.free_throws_percentage }}</td>
</tr>